<app-cabecera></app-cabecera>
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
          <app-form-izquierdo></app-form-izquierdo>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <div class="card">
                                        <div class="card-header font-weight-bold">
                                                Registro de nuevo usuario 
                                        </div>
                                        <div class="card-body container">
                                                <form class="needs-validation" novalidate #FormAgregarUsuario="ngForm" (ngSubmit)="AgregarUsuario(FormAgregarUsuario)"> 
                                                                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario._id">
                                                        <div class="form-row">
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1" >Nombres</label>
                                                                        <input  type="text" class="form-control" name="nombres" #nombres="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.nombres" placeholder="Nombres" id="validationTooltip03" placeholder="City" required>
                                                                        <div class="invalid-tooltip">
                                                                        Please provide a valid city.
                                                                        </div>
                                                                </div>
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">Apellidos</label>
                                                                        <input type="text" class="form-control" name="apellidos" #apellidos="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.apellidos" placeholder="Apellidos" required>
                                                                </div>
                                                        </div>
                                                        <div class="form-row">
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">Fecha Nac.</label>
                                                                        <input type="date" class="form-control" name="fechaNac" #fechaNac="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.fechaNac" required>
                                                                </div>
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">Sexo</label>
                                                                        <input type="text" class="form-control" name="sexo" #sexo="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.sexo" placeholder="Sexo" required>
                                                                </div>
                                                        </div>
                                                        <div class="form-row">
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">Nacionalidad</label>
                                                                        <input type="text" class="form-control" name="nacionalidad" #nacionalidad="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.nacionalidad" placeholder="Nacionalidad">
                                                                </div>
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">Ocupación</label>
                                                                        <input type="text" class="form-control" name="ocupacion" #ocupacion="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.ocupacion" placeholder="Ocupación">
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="exampleInputEmail1">Correo Electronico</label>
                                                                <input type="email" class="form-control"name="correoElectronico" #correoElectronico="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.correoElectronico" placeholder="Correo">
                                                        </div>
                                                        <div class="form-row">
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">Contraseña</label>
                                                                        <input type="password" class="form-control" name="contrasenia" #contrasenia="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.contrasenia" placeholder="contraseña">
                                                                </div>
                                                                <div class="col">
                                                                        <label for="exampleInputEmail1">confirmar</label>
                                                                        <input type="password" class="form-control" name="contraseniaR" #contraseniaR="ngModel" [(ngModel)]="registroUsuarioService.SeleccionarUsuario.contraseniaR" placeholder="confirmar">
                                                                </div>
                                                        </div>
                                                        <div class="form-group row">
                                                        <div class="col-sm-10">
                                                                <br>
                                                                <div class="container">
                                                                <div class="form-row">
                                                                        <div class="col">
                                                                           <button type="submit" class="btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-sm">Registrar</button>
                                                                                        
                                                                        </div>
                                                                        <div class="col">
                                                                             <button  class="btn btn-outline-dark" (click)="limpiarForm(FormAgregarUsuario)">Limpiar</button>
                                                                        </div>
                                                                </div>
                                                                </div>
                                                        </div>
                                                        </div>
                                                        
                                                </form>
                                        </div>
                                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                                <div class="modal-content">
                                                                Datos Guardados!
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/repClientes">Close</button>
                                                                </div>
                                                        </div>
                                                </div>
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <app-form-derecho></app-form-derecho>
                        </div>
                </div>
                
        </div>  
</div>
<app-pie></app-pie>
